<h3>{{ _('Snapmaker CNC Probe Settings') }}</h3>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Rotation Wait Time (seconds)') }}</label>
        <div class="controls">
            <input type="number" min="1" max="10" class="input-mini" data-bind="value: settings.plugins.snapmaker_cnc_probe.rotation_wait_time">
            <span class="help-block">{{ _('Time to wait after rotation before capturing image (seconds)') }}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">{{ _('Gauge Serial Port') }}</label>
        <div class="controls">
            <input type="text" class="input-large" data-bind="value: settings.plugins.snapmaker_cnc_probe.gauge_port">
            <span class="help-block">{{ _('Serial port for the digital gauge (e.g., /dev/ttyUSB0)') }}</span>
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">{{ _('Gauge Baud Rate') }}</label>
        <div class="controls">
            <input type="number" class="input-medium" data-bind="value: settings.plugins.snapmaker_cnc_probe.gauge_baud">
            <span class="help-block">{{ _('Baud rate for serial communication (usually 9600)') }}</span>
        </div>
    </div>
</form>